<html>
  <head>
    <style>
    </style>
  </head>
  <body>
  <form>
  <input type='text' name='to_cipher'>
  <input type='number' name='shift'>
  <input type='submit' value='Cipher!'>
  </form>
  </body>
</html>