<html>
  <head>
    <style>
    </style>
  </head>
  <body>
  <form>
  Text to cipher <br>
  <input type='text' name='to_cipher'><br>
  Shift amount<br>
  <input type='number' name='shift'><br>
  <input type='submit' value='Cipher!'>
  </form>
  <p><%= @ciphered %></p>
  </body>
</html>